name: first_workflow
on:
  push:
    branches:
      - main

jobs:
  exampel-job:
    runs-on: ubuntu-latest


    steps:
      - name: print a welcome message
        run: echo "welcome to our workflow"
